/* RWD SECTION */

* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}


[class*="col-"] {
    width: 100%;
}
/* For mobile phones: */
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
/* For desktop: */
@media only screen and (min-width: 768px) { 
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/* RWD SECTION */ 

  
.Home {
    width: 100%;
    height: 300px;
    background-image: url("https://images.pexels.com/photos/287398/pexels-photo-287398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350");
    background-size: cover;
    text-align: center;
    padding: 35px;
    color: white;
    margin: 2% 0 2% 0;
}    

/* NAVBAR */

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
       
}

.navbar li {
    padding: 8px;
    margin: 4px 0 4px 0;
    background-color: lightsteelblue;
    color: white;
    align-items: center;
    border: 2px solid darkslategray;
    font-family: Abel, sans-serif;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    
}
.navbar li:hover {
    background-color: lightgrey;
    top: 3px;
}

/* TEXT */

h1 {
    font-size: 40px;
    font-family: Orbitron, sans-serif;
    font-weight: bolder;
}

h3 {
    font-size: 35px;
    font-family: Abel, sans-serif;
}

h4 {
    font-size: 20px;
    font-family: Orbitron, sans-serif;
    font-weight: bolder;
    text-align: center;
}

h5 {
    font-size: 18px;
    font-family: Abel, sans-serif;
     
}

p {
    font-size: 16px;
    font-family: Abel, sans-serif;
    text-align: justify;
}


/* LEFT-RIGHT COLUMNS*/ 

.left-col {
    background-color: rgba(59, 71, 78, 0.185);
    color: darkslategray;
    text-align: center;
    padding: 0 10px 20px 10px;
    margin: 30px 0;
    border: 2px solid darkslategray;
}

.left-col2 {
    background-color: rgba(59, 71, 78, 0.185);
    color: darkslategray;
    text-align: center;
    padding: 10px;
    margin: 30px 0;
    border: 2px solid darkslategray;
}


.right-col {
    background-color: lightsteelblue;
    text-align: center;
    padding: 10px;
    color: white;
    overflow-wrap: break-word;
    border: 2px solid darkslategray;
}

.Strava {
    align-content: center;
    padding: 5px;

}
/* MIDDLE SECTION */

.photo-button {
    background-color: rgb(38, 76, 126); 
    border: 1px solid darkslategray;
    padding: 0px;
    display: inline-block;
    margin: 0 0 0px 0;
    cursor: pointer;
    width: 100%;
}    

.photo-button a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: Abel, sans-serif;
    font-weight: bold;
    text-decoration: none;    
}

.photo-button:hover {
    background-image: url("https://images.pexels.com/photos/313559/pexels-photo-313559.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350");
    background-size: cover;
    /*background-color: rgba(59, 71, 78, 0.411); */
    top: 3px;
}

.what-about-me {
    border: 1px solid darkslategray;
    margin: 10px 0 10px 0;
    text-align: center;
    text-justify: auto;
    padding: 5px;
    background-color: rgba(59, 71, 78, 0.411);
    color: white;
    font-family: Abel, sans-serif;
    font-weight: bold;
}

.Career {
    border: 1px solid darkslategray;
    margin: 0 0 10px 0;
    text-align: center;
    
    padding: 15px;
    color: rgb(11, 137, 187)
}

.Cycling {
    border: 1px solid darkslategray;
    margin: 10px 0 10px 0;
    text-align: center;
    
    padding: 15px;
    color: rgb(11, 137, 187)
}

.Music {
    border: 1px solid darkslategray;
    margin: 10px 0 10px 0;
    text-align: center;
    
    padding: 15px;
    color: rgb(11, 137, 187)
}    

.MusicVids {
    border: 1px solid darkslategray;
    margin: 0 0 0 0;
    text-align: center;
    padding: 0px;
    background-image: url("https://images.pexels.com/photos/290660/pexels-photo-290660.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350");
    background-size: cover;
    /* background-color: rgba(59, 71, 78, 0.411); */
    color: white;
    
}

/*.vids {
    border: 5px solid lightsteelblue;
}

/* FOOTER */

.backtotop {
    text-align: center;
    font-weight: bold;
} 

.footer {
    width: 100%;
    background-color:rgb(243, 159, 33);
    text-align: center;
    padding: 2px;
    border: 1px solid darkslategray;
    color: white;
    margin: 2% 0 2% 0;
}

/* ###############################  PAGE 2  #################################### */

/* Background image section */

body, html {
    height: fit-content;
    margin: 0 2% 0 2%;
    
}
    
.background-image {
    background-image: url("https://images.pexels.com/photos/773953/pexels-photo-773953.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;  
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.Home2 {
    background-image: url("https://images.pexels.com/photos/358118/pexels-photo-358118.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350");
    background-size: cover;
    width: 100%;
    height: auto; /* to ensure text does not bleed out of container*/
    text-align: center;
    padding: 5px;
    background-color: rgba(77, 114, 170, 0.397);
    border: 1px solid darkslategray;
    color: white;
    margin: 2% 0 2% 0;
    
    
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 32%;
    grid-template-rows: 300px;
    color: white;
    justify-content: center;
    align-items: center;
    border: 1px solid darkslategray;
    padding: 2%;
}

.flex-container > div {
    text-align: center;
    padding: 5px;
    font-size: 30px;
    margin: 5px
}

img {
    width: 100%;
    height: 300px;
    object-fit: cover;  /*code to ensure img resizes to cover entire container */
    border: 5px solid darkslategray;

}
#front-images {
    width: 100%;
    height: auto;
    object-fit: cover;  /*code to ensure img resizes to cover entire container */
    border: 1px solid darkslategray;

}

#strava {
    width: 100%;
    height: auto;
    object-fit: cover;  /*code to ensure img resizes to cover entire container */
    border: 1px solid darkslategray;

}
.home-page-button {
    background-color: rgb(38, 76, 126); 
    height: auto;
    padding: 0%;
    display: inline-block;
    margin: 0 0 2% 0;
    cursor: pointer;
    width: 100%;
}    

.home-page-button a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: Abel, sans-serif;
    font-weight: bold;
    text-decoration: none;    
}

.home-page-button:hover {
    background-image: url("https://images.pexels.com/photos/221047/pexels-photo-221047.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350");
    background-size: cover;
    
    top: 3px;
}
   
.footer2 {
    width: 100%;
    background-color:rgb(243, 159, 33);
    text-align: center;
    margin: 2% 0 2% 0;
    border: 1px solid darkslategray;
    color: white;
}
